.flat-button {
  color: #47B5FF;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: "sans-serif";
  padding: 10px 18px;
  text-decoration: none;
  border: 1px solid #47B5FF;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;

  &:hover {
    background: #47B5FF;
    color: #333;
  }
}