@tailwind base;
@tailwind components;
@tailwind utilities;

import "@fontsource/la-belle-aurore"

html {
  font-size: 62.5%;
}

@layer components {
  .tags {
    @apply text-blue-400 absolute left-28 text-lg font-la-belle-aurore
  }
  .container {
    @apply w-screen will-change-contents h-[90%] min-h-[32rems] opacity-0 top-[5%] mx-0 my-auto z-10 animate-fadeIn animation-delay-1000
  }
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #256D85;
  background: #06283D;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
